version: '3'
services:
  code-server:
    image: <your_image>
    deploy:
      resources:
        limits:
          memory: 16G
          cpus: "4.0"
    environment:
      - NODE_OPTIONS="--max-old-space-size=8192"
